<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63d2fe">  <td>23/12/12 20:18:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Put_TestCase@7e5c856f]">excutor</td> 
  <td>main@573926093</td>   <td></td> </tr>
<tr bgcolor="87bc84">  <td>23/12/12 20:18:42</td>   <td>1729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Get_TestCase@413f69cc]">excutor</td> 
  <td>main@573926093</td>   <td></td> </tr>
<tr bgcolor="b996a0">  <td>23/12/12 20:18:31</td>   <td>-9448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Patch_TestCase@5a3bc7ed]">excutor</td> 
  <td>main@573926093</td>   <td></td> </tr>
<tr bgcolor="6776cb">  <td>23/12/12 20:18:38</td>   <td>-2358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Post_TestCase@12d2ce03]">excutor</td> 
  <td>main@573926093</td>   <td></td> </tr>
</table>
